.app_header-wrapper {
    padding-top: 4.2vh;
    padding-left: 4vw;
    padding-right: 2.5vw;
}

.app_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.header_nav {
    display: flex;
    flex-basis: 44%;
    justify-content: space-between;
    margin-right: 2.7rem;
}



.header_tickets-main,
.header_how-buy,
.header_rools,
.header_return-ticket {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

.header_tickets-main {
    font-size: 19px;
    letter-spacing: 0.5px;
    /* font-weight: 800; */
}

.header_how-buy,
.header_rools,
.header_return-ticket {
    font-size: 18px;
}

.header_rools {
    /* margin-left: -2.5rem; */
}

.header_return-ticket {
    margin-right: 0.5rem;
}




.header_tickets-main:hover,
.header_how-buy:hover,
.header_rools:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.header_return-ticket:hover {
    cursor: default;
    color: transparent;
    transition: all 0.3s;
}




.header_right-block {
    display: flex;
    align-items: center;
    width: 14%;
    justify-content: space-between;
}

.header_enter-block {
    display: flex;
    position: relative;
    align-items: end;
}

.header_enter-logo {
    position: absolute;
    height: 2rem;
    left: -0.7rem;
    bottom: -0.3rem;
}

.header_enter-text {
    color: #fff;
    padding-left: 1.5rem;
    font-size: 17px;
    letter-spacing: 0.2px;
}


.header_burger {
    position: relative;
}

.burger_middle {
    height: 2px;
    width: 1rem;
    background-color: #fff;
}

.header_burger::before,
.header_burger::after {
    height: 2px;
    position: absolute;
    content: '';
    background-color: #fff;
    right: 0;
}

.header_burger::before {
    width: 1.5rem;
    top: .5rem;
}

.header_burger::after {
    width: 1.8rem;
    bottom: .5rem;
}


@media screen and (max-width: 1000px) {
    .header_nav {
        display: none;
    }
}