.app_header-wrapper {
    padding-top: 4.2vh;
    padding-left: 4vw;
    padding-right: 2.5vw;
    padding-bottom: 3.8vh;
}

.app_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.header_nav {
    display: flex;
    flex-basis: 46%;
    justify-content: space-around;
}

.header_tickets-main,
.header_how-buy,
.header_rools,
.header_return-ticket {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

.header_tickets-main {
    font-size: 20px;
    letter-spacing: 2.5px;
    /* font-weight: 800; */
}

.header_how-buy,
.header_rools,
.header_return-ticket {
    font-size: 22px;
}

.header_rools {
    letter-spacing: 2.5px;
}

.header_return-ticket {
    letter-spacing: 2px;
}




.header_tickets-main:hover,
.header_how-buy:hover,
.header_rools:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.header_return-ticket:hover {
    cursor: default;
    color: transparent;
    transition: all 0.3s;
}




.header_right-block {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}

.header_enter-block {
    display: flex;
    position: relative;
    align-items: end;
}

.header_enter-logo {
    position: absolute;
    height: 2rem;
    left: -1rem;
}

.header_enter-text {
    color: #fff;
    padding-left: 1.2rem;
    font-size: 20px;
    letter-spacing: 1px;
}


.header_burger {
    position: relative;
}

.burger_middle {
    position: absolute;
    right: 1rem;
    height: 2px;
    width: 1rem;
    background-color: #fff;
}

.header_burger::before,
.header_burger::after {
    height: 2px;
    position: absolute;
    content: '';
    background-color: #fff;
    right: 1rem;
}

.header_burger::before {
    width: 1.5rem;
    top: .5rem;
}

.header_burger::after {
    width: 1.8rem;
    bottom: .5rem;
}


@media screen and (max-width: 1000px) {
    .header_nav {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .header_right-block {
        width: 20%;
    }
}

@media screen and (max-width: 700px) {
    .header_right-block {
        width: 25%;
    }
}