.main_hexagon {
    position: relative;
    background-color: #fff;
    transition: all 2s;
    margin: auto;
}

.main_hexagon,
.main_hexagon::before,
.main_hexagon::after {
    width: 3.5rem;
    height: 5.6rem;
    border-radius: 9%/5%;
}

.main_hexagon::before {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(-60deg);
}

.main_hexagon::after {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
    transform: rotate(60deg);
}

.hexagon_content {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115%;
    height: 60%;
    line-height: 1.2;
    z-index: 100;
}

.active>.hexagon_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
}

.hexagon_place {
    font-size: 0.6rem;
    font-weight: 800;
}

.hexagon_date {
    font-weight: bolder;
}

.hexagon_time {
    font-size: 0.7rem;
    font-weight: 800;
}

.hexagon_buy-btn {
    width: 75%;
    font-size: 0.4rem;
    height: 25%;
    margin: 0 auto;
}

.hexagon_day {
    font-size: 1.5rem;
    font-weight: 800;
}

.hexagon_month {
    font-size: .8rem;
    font-weight: 800;
}

.active {
    transform: scale(2.5);
}

.middle {
    grid-column: 3/4;
    grid-row: 3/4;
}

.slave {
    transform: scale(1.5);
}

.upper {
    grid-column: 4/5;
    grid-row: 2/3
}

.hide {
    opacity: 0;
}

.lower {
    grid-column: 2/3;
    grid-row: 4/5
}

.first {
    grid-column: 5/6;
    grid-row: 1/2;
}

.last {
    grid-column: 1/2;
    grid-row: 5/6;
}



@media screen and (max-width: 1000px) {
    .hexagon_date {
        font-size: .7rem;
    }

    .hexagon_buy-btn {
        font-size: .3rem;
    }
}








@media screen and (max-width: 850px) {
    /* .slave {
        transform: scale(1.3)
    }

    .active {
        transform: scale(1.8)
    } */
}

/* @media screen and (max-width: 650px) {
    .active {
        transform: scale(2)
    }
} */


@media screen and (max-width: 700px) {

    .main_hexagon,
    .main_hexagon::before,
    .main_hexagon::after {
        width: 3rem;
        height: 5rem;
    }
}

@media screen and (max-width: 650px) {
    .slave {
        transform: scale(1.3)
    }

    /* .active {
        transform: scale(1.8)
    } */
}

@media screen and (max-width: 550px) {
    .slave {
        transform: scale(1.1)
    }
}