.main_oponent-left {
    position: relative;
    background-color: #fff;
    align-self: flex-start;
    height: 50%;
    width: 35%;
    font-size: 100%;
}

.main_oponent-left::before {
    content: '';
    position: absolute;
    bottom: -0.7rem;
    right: -2.9rem;
    width: 1.1rem;
    height: 10.3rem;
    transform: rotate(31deg);
    background-color: #fff;
    border-radius: 10px;
}

.main_oponent-left::after {
    content: '';
    position: absolute;
    width: 6rem;
    height: 1rem;
    top: 0;
    right: -5.3rem;
    background-color: #fff;
    border-radius: 10px;
}


.main_oponent-left-content::before {
    z-index: 20;
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 24% 100%, 0% 100%);
    content: "";
    height: 7rem;
    right: -4.5rem;
    position: absolute;
    bottom: 1.6rem;
    width: 4.5rem;
}

.main_oponent-right {
    background-color: #fff;
    position: relative;
    align-self: flex-end;
    height: 50%;
    width: 35%;
    font-size: 100%;
}


.main_oponent-right::before {
    content: '';
    position: absolute;
    top: -0.7rem;
    left: -2.9rem;
    width: 1.1rem;
    height: 10.5rem;
    transform: rotate(31deg);
    background-color: #fff;
    border-radius: 10px;
}



.main_oponent-right::after {
    content: '';
    position: absolute;
    width: 6rem;
    height: 1rem;
    bottom: 0;
    left: -5rem;
    background-color: #fff;
    border-radius: 10px;
}



.main_oponent-right-content,
.main_oponent-left-content {
    display: flex;
    height: 100%;
}


.main_oponent-right-content::before {
    z-index: 20;
    background-color: #fff;
    clip-path: polygon(82% 0%, 100% 0%, 100% 100%, -5% 100%);
    content: "";
    height: 7rem;
    left: -4.5rem;
    position: absolute;
    top: 1.6rem;
    width: 4.5rem;
}

.oponent-right_name,
.oponent-left_name {
    font-size: 3rem;
    font-weight: 600;
    align-self: center;
}

.main_oponent-left-content {
    justify-content: end;
}


@media screen and (max-width: 1150px) {

    .main_oponent-right,
    .main_oponent-left {
        width: 30%;
    }

    .oponent-right_name,
    .oponent-left_name {
        font-size: 2rem;
    }
}



@media screen and (max-width: 860px) {

    .main_oponent-right,
    .main_oponent-left {
        width: 20%;
    }

    .oponent-right_name,
    .oponent-left_name {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 700px) {

    .oponent-right_name,
    .oponent-left_name {
        font-size: 1rem;

    }
}