.slider-wrapper {
    height: 7rem;
    width: 10%;
}


.slider-window {
    border: 2px solid black;
    margin: 0 auto;
    height: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.slider-content {
    position: absolute;
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 2s;
}

.slider-content:first-child {
    justify-self: flex-end;
}


.active {
    background-color: red;
    transform: scale(2);
}

.slave {
    background-color: blue;
    transform: scale(1.5);
}

.upper {
    margin-left: calc(90vh/1.5)
}

.lower {
    margin-right: calc(90vh/1.5)
}




.first {
    align-self: flex-end
}

.last {
    align-self: flex-start
}