.slider-wrapper {
    height: 100%;
    width: 10%;
}


.slider-window {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.slider-content {
    position: absolute;
    height: 74%;
    width: 77%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    transition: all 2s;
}


@media screen and (max-width: 1100px) {
    .slider-content {
        height: 95%;
        width: 100%;
    }
}